.hero-bgimg{
  align-items: center;
  background-image: url("{{ site.baseurl }}/images/group-pic.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 80vh;
}

.responsive-nav__list-items {
  color: #fff;
  font-size: 35px;
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
  text-align: center;
}
