<footer>
  <div>
    <p>SHOP</p>

    <ul>
      <li> <a href="{{ site.baseurl }}">home</a> </li>
      <li> <a href="{{ site.baseurl }}/shop.html">shop</a> </li>
      <li> <a href="{{ site.baseurl }}/about.html">about me</a> </li>
      <li> <a href="{{ site.baseurl }}/contact.html">contact</a> </li>
    </ul>
  </div>

  <div>
    <p>operating hours</p>

    <ul>
      <li> Mon - Fri: 7am - 10pm  </li>
      <li> Saturday: 8am - 10pm </li>
      <li> Sunday: 8am - 11pm </li>
    </ul>
  </div>

  <div>
    <p>address</p>

    <ul>
      <li> Long Beach, California </li>
      <li> Tel: 123-4567 </li>
    </ul>
  </div>

  <div>
    <p>get it fresh</p>

    <ul>
      <li>
        <input type="text" placeholder="newsletter">
      </li>
      <li> <p> <a href="#">subscribe now</a> </p> </li>
    </ul>
  </div>

  <div>
    <p>
      &copy; by Brian
    </p>

    <ul>
      <li> <a href="#"><i class="fab fa-facebook-f"></i></a> </li>
      <li> <a href="#"><i class="fab fa-instagram"></i></a> </li>
      <li> <a href="#"><i class="fab fa-youtube"></i></a> </li>
    </ul>
  </div>
</footer>
