<nav>
  <ul>
    <li> <a href="{{ site.baseurl }}">home</a> </li>
    <li> <a href="{{ site.baseurl }}/shop.html">shop</a> </li>
    <li> <a href="{{ site.baseurl }}/about.html">about me</a> </li>
    <li> <a href="{{ site.baseurl }}/contact.html">contact</a> </li>
  </ul>

  <h1>Dagashitoyou</h1>

  <ul>
    <li> <a href="#">instagram</a> </li>
    <li> <a href="#">facebook</a> </li>
    <li> <a href="#">youtube</a> </li>

    <li> <a href="#"><i class="fa fa-shopping-bag"></i></a> </li>

  </ul>

  <svg id="menu-hamburger" viewBox="0 0 26 17" width="30px" height="100%">
    <rect class="hamburger-menu__rect1" x="3" width="20" height="3" rx="1.5" ry="1.5"></rect>
    <rect class="hamburger-menu__rect2" x="3" y="14" width="20" height="3" rx="1.5" ry="1.5"></rect>
    <rect class="hamburger-menu__rect3" y="7" width="26" height="3" rx="1.5" ry="1.5"></rect>
  </svg>
</nav>

<div class="responsive-nav">
  <ul class="responsive-nav__list-items">
    <li> <a href="{{ site.baseurl }}">home</a> </li>
    <li> <a href="{{ site.baseurl }}/shop.html">shop</a> </li>
    <li> <a href="{{ site.baseurl }}/about.html">about me</a> </li>
    <li> <a href="{{ site.baseurl }}/contact.html">contact</a> </li>
  </ul>
</div>
