---
layout: default
---

<main class="contain-product desktop">
  <section class="subnav">
    <ul>
      <li class="subnav__li"> <a href="{{ site.baseurl }}/index.html">Home</a> </li>
      <li class="subnav__li">/</li>
      <li class="subnav__li"> <a class="subnav__item" href="">{{ page.title }}</a> </li>
    </ul>
  </section>

  <section class="product">
    <div class="product__visual">
      <img src="../{{ page.thumbnail }}" alt="{{ page.title }}">

      <p> {{ page.description }} </p>
    </div>
    <div class="product__info">
      <h2 class="product__title"> {{ page.title }} </h2>
      <p class="product__id"> {{ page.custom-id }} </p>

      <p class="product__price">${{ page.price }} </p>

      <div class="buying">
        <p class="buying__title">quantity</p>

        <input class="buying__input" type="number" value="1">
        <button
          class="buying__button snipcart-add-item"
          data-item-id="{{ page.custom-id }}"
          data-item-name="{{ page.title }}"
          data-item-price="{{ page.price }}"
          data-item-weight="{{ page.weight }}"
          data-item-url="{{ page.url }}"
          data-item-image="{{site.baseurl}}{{ page.thumbnail }}"
          data-item-description="{{ page.title }}"
          data-item-quantity="1">
              Buy {{ page.title }}
      </button>
      </div>

      <div class="more-info">
        <div class="more-info__product">
          <p class="more-info__title">refund policy</p>
          <p class="more-info__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
           </p>
        </div>

        <div class="more-info__product">
          <p class="more-info__title">shipping info</p>
          <p class="more-info__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
           </p>
        </div>
      </div>
    </div>
  </section>
</main>

<main class="contain-product mobile">
  <section class="subnav">
    <ul>
      <li class="subnav__li"> <a href="{{ site.baseurl }}/index.html">Home</a> </li>
      <li class="subnav__li">/</li>
      <li class="subnav__li"> <a class="subnav__item" href="">{{ page.title }}</a> </li>
    </ul>
  </section>

  <section class="product">
    <div class="product__visual">
      <h2 class="product__title"> {{ page.title }} </h2>
      <p class="product__id"> {{ page.custom-id }} </p>

      <p class="product__price">${{ page.price }} </p>

      <img class="product__img" src="../{{ page.thumbnail }}" alt="{{ page.title }}">

      <p> {{ page.description }} </p>
    </div>
    <div class="product__info">


      <div class="buying">
        <p class="buying__title">quantity</p>
        <input class="buying__input" type="number" value="1">
          <a href="{{site.baseurl}}/cart.html" class="buying__button snipcart-add-item" data-item-id="{{ page.custom-id }}" data-item-name="{{ page.title }}" data-item-price="{{ page.price }}"
            data-item-weight="{{ page.weight }}" data-item-url="{{ page.url }}" data-item-image="{{site.baseurl}}{{ page.thumbnail }}"
            data-item-description="{{ page.title }}" data-item-quantity="1">
            Buy {{ page.title }}
        </a>
      </div>

      <div class="more-info">
        <div class="more-info__product">
          <p class="more-info__title">refund policy</p>
          <p class="more-info__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
           </p>
        </div>

        <div class="more-info__product">
          <p class="more-info__title">shipping info</p>
          <p class="more-info__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
           </p>
        </div>
      </div>
    </div>
  </section>
</main>
